html,
body {
  height: 100%;
  width: 100%;
}

p {
  padding-bottom: 1rem;
}

.hoverable {
  transition: padding-left 0.15s ease-out;
}

.hoverable:hover {
  padding-left: 10px;
}

ol {
  padding-left: 2rem;
  overflow: auto;
}

li {
  white-space: nowrap;
}
.card,
.card-content {
  border-radius: 12px;
}

.card-header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
